@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100&display=swap');

.logoDiv {
  .logo {
    width: 50px;
  }
}

.login {
  background-color: #4BA3C3;
  border: 0;
}

.registre {
  border: 0;
  background-color: #4BA3C3;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.nav-link:hover {
  color: #DC143C;
}